body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
body {
  background-color: rgb(243, 232, 197);
}
body {
    font-family: 'Inter', sans-serif;
}
html {
    font-size: 18px; 
}
body {
    line-height: 1.2; /* Increases space between text lines */
  }
